node_modules
.serverless
**/.idea/**
**/__pycache__/**
**/.mypy_cache/**
**/.coverage/**
**/.coverage
**/.tox/**
**/.dynamodb/**
venv
.vscode
.env
**/venv/
venv_deploy
**/build_venv
**/.tox/
**/.deploy_venv/**
*.orig
playerpool.json
matchup-result.txt
name-map.json